@use "../base/color";
.atc,
.pay-confirm {
  width: 150px;
  height: 30px;
  background: var(--secondary-color);
  border: none;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;

  border-radius: 5px;
  /* overflow: hidden; */
  cursor: pointer;
  outline: none;
  z-index: 1;
}
button.pay-confirm {
  background-color: orange;
  color: wheat;
  gap: 10px;
}

/* .atc
.confirm {
  margin: 20px;
  
  
  ;*/
/*  &::after {
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    content: "";
    background-color: lightblue;
    position: absolute;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  &:hover {
    color: white;

    &:hover::after {
      width: 100%;
    }
  } 
}*/

/* .hidden {
  visibility: hidden;
}

.blurred {
  filter: blur(10px);
  -webkit-filter: blur(10px);
} */

.submit {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  background-color: orange;
  color: white;
  margin-bottom: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#submit {
  margin: auto;
  margin-bottom: 20px;
  cursor: pointer;
}
