@use "../base/color";
@use "../base/fonts";

.checkbox_container {
  h1 {
    font-family: fonts.$monteserrat;
    font-size: normal;
    padding: 2vw;
    color: white;
    text-align: center;
  }
}
h1 {
  font-weight: normal;
}
//the cart box
.checkbox_container {
  display: list-item;
}
.your_order {
  display: flex;
  background-color: #588157;
  justify-content: start;
  border-radius: 5px;
}
#add {
  display: flex;
  width: 10px;
  height: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
#counter {
  background-color: rgb(241, 237, 243);
  width: 10px;
  height: 3px;
  border: none;
  color: rgb(224, 26, 26);
}
#subtract {
  display: flex;
  width: 10px;
  height: 5px;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
}
#amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
}
#b_name {
  font-weight: normal;
}
#addtc {
  display: block;
  margin: 10px;
  padding: 1vw;
  background-color: var(--font-color-two);
}
//button remove
.c {
  border: none;
  height: 20px;
  width: 70px;
  border-radius: 3px;
  background-color: rgb(187, 184, 184);
  color: rgb(32, 44, 33);
  cursor: pointer;
}
.box_order {
  display: grid;
}
.pay {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 10px;
}
