@use "../base/fonts";
@use "../base/color";

header {
  height: auto;
  width: 100%;
  background-color: color.$head-color;
}

header {
  h1 {
    font-family: fonts.$monoton;
    font-size: 80px;
    font-weight: 200;
    margin: 0;
    color: white;
    padding: 1vw;
    text-align: center;
  }
}
.amount {
  width: 50%;
}

#counter,
#subtract,
#add {
  display: inline-block;
  padding: 10px;
}
