@use "../base/fonts";
@use "../base/color";

<<<<<<< HEAD
/*header {
    h1 {
    font-family: fonts.$monoton;
    font-size: 80px;
    font-weight: 200;
    margin: 0;
    color: white;
=======
header {
  height: auto;
  width: 100%;
  background-color: color.$head-color;
}

header {
  display: flex;
  background-color: var(--primary-color);

  justify-content: center;

  .foo-logo {
    width: 25%;
>>>>>>> f9258ecfd099b659635a63871604ee6bbc5dd784
    padding: 1vw;
    text-align: center;
  } 
}*/
.amount {
  width: 50%;
}

#counter,
#subtract,
#add {
  display: inline-block;
  padding: 10px;
}

.atc-img {
  width: 10%;
}
