@forward "header";
@forward "button";
@forward "form";
@forward 'cards';
@forward 'grid';
<<<<<<< HEAD
@forward 'text';
@forward 'grids';

=======
@forward '_cart_box';
>>>>>>> f9258ecfd099b659635a63871604ee6bbc5dd784
* {
  margin: 5px;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: var(--background-color);
}
