@forward "header";
@forward "button";
@forward "form";
@forward 'cards';
@forward 'grid';
@forward 'text';
@forward 'grids';

* {
  margin: 5px;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-color: var(--background-color);
}
