@use "../base/color";
@use "../base/fonts";

.checkbox_container {
  h1 {
    font-family: fonts.$monteserrat;
    font-size: 36px;
    padding: 2vw;
    color: white;
    text-align: center;
    font-weight: bold;
  }
}
