@use "../base/color";
@use "../base/fonts";
.cards {
  display: flex;
  background-color: rgb(249, 252, 251);

  /* width: 1.5vw; */
  margin: 3px;

  flex-wrap: wrap;
  padding: 15px;
  gap: 5px;
  justify-content: center;
  align-items: center;
  overflow-wrap: none;
  margin-right: 10px;
  border-radius: 5px;
}
// check this flex
.beer-desc input button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 5px;
}
.beer-img {
  width: 100px;
  height: 100px;
  display: flex;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  flex-wrap: wrap;
}

.name {
  font-family: fonts.$raleway;
  font-weight: bolder;
}
.cate {
  font-family: fonts.$raleway;
  font-weight: bold;
}
.alc-lvl {
  font-family: fonts.$raleway;
  font-weight: bold;
  margin-bottom: 1vw;
}

#addtc {
  h3 {
    font-family: fonts.$monteserrat;
    font-weight: bolder;
  }
  h4 {
    font-family: fonts.$monteserrat;
    font-weight: bolder;
  }
}

#amount {
  label {
    font-family: fonts.$raleway;
    font-weight: bold;
  }
}
.c {
  font-family: fonts.$raleway;
  font-weight: bold;
}
