.cards {
  display: flex;
  background-color: rgb(249, 252, 251);
  border: 1px solid black;
  /*  width: 15.5vw; */
  margin: 10px;
  flex-wrap: wrap;
  padding: 15px;
  gap: 5px;
  justify-content: space-between;
  overflow-wrap: none;
}
// check this flex
.beer-desc input button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.beer-img {
  width: 50%;
  display: flex;
  padding: 10px;
  margin: auto;
  border-radius: 50%;
  flex-wrap: wrap;
}
